email=sravanij2021@gmail.com
#always-auth=true
#_auth=YWRtaW46c3JhdmFuaQ==
# Auth for npm registry
registry.npmjs.org/:_auth=bWl0aHVudGVjaG5vbG9naWVzOmRldm9wcw==

# Auth for Nexus repository
//13.201.92.85:8081/repository/sravani-project/:_auth=YWRtaW46c3JhdmFuaQ==
allowRepublish=true
